/* DASHBOARD CHARTS */

.bar-chart-div {
  padding: 6px 0;
}
.bar-chart-area {
  min-height: 1px;
  padding-left: 5px;
}
.bar-chart-label {
  margin: 2px 0;
}
.pie-chart-text {
  font-size: 2.4rem;
}

/* TOOLTIP STYLING*/

#tooltip-technology, #tooltip-cost {
  position: absolute;
  min-height: 155px;
  padding: 10px;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  pointer-events: none;
  border: 1px solid #ccc;
}
#tooltip-technology {
  width: 360px;
}
#tooltip-cost {
  width: 220px;
}
#tooltip-technology.hidden #tooltip-cost.hidden {
  display: none;
}
#tooltip-technology td, #tooltip-technology th, #tooltip-cost td, #tooltip-cost th {
  text-align: right;
  padding: 0 5px;
  font-size: 1.4rem;
  border-top: 1px solid #ddd;
}
.tooltip-title {
  font-size: 16px;
  margin: 0;
}
.tooltip-subtitle {
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 768px) {
  #tooltip-technology td, #tooltip-technology th, #tooltip-cost td, #tooltip-cost th {
    padding: 0 5px;
    font-size: 1.3rem;
  }
  #tooltip-technology {
    width: 340px;
  }
  #tooltip-cost {
    width: 200px;
  }
}

/* MAP STYLE */

#map-area {
  min-height: 500px;
  background: #474747;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.land {
  fill: #333;
}
.country {
  fill: none;
}
.countries-boundary {
  fill: none;
  stroke: gray;
  stroke-width: 0.1px;
}
.country-label {
  text-shadow: 3px 3px 5px #000;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
}
.btn-disclaimer {}
