/* CONTEXT */

#country-title-placeholder {}
#country-flag {
  height: 50px;
  width: 100%;
  vertical-align: middle;
  z-index: -1;
}
#country-title {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
}
#country-title > span {
  color: #4d4d4d;
}
#country-context {
  text-align: left;
}
#ignored-country-context {
  text-align: center;
}
#general-context, #country-context, #ignored-country-context {
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
}
#er-placeholder, #urban-placeholder {
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
}
.units {
  font-size: 35px;
  font-weight: 400;
}
.explore {
  float: right;
  border-radius: 0;
  background-color: #00adef;
}
.table {
  vertical-align: middle;
}
.value {
  font-size: 16px;
  color: #4d4d4d;
}
.list-group {
  border: none;
}
.list-group-item {
  border-color: #ffffff;
  border-radius: 0 !important;
  padding: 2px 3px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #00adef;
  border-color: #00adef;
}
#country-selector-button {
  margin-top: 0px;
  padding: 0px;
  border-radius: 0;
  background-color: #00adef;
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
}
#explore-link {
  color: #ffffff;
}
#explore-link:hover {
  text-decoration: none;
}
#loading-screen, #region-selection {
  position: absolute;

  top: 0;
  left:0;

  height: 100%;
  width: 100%;

  background-color: white;
  z-index: 1000;
}
#region-selection {
  visibility: hidden;
  text-align: center;
}
#region-selection-menu {
  margin: auto;
  margin-top: 5em;
  min-width: 500px;
}
.selection-country {
  display: inline-block;
  width: 40%;
  padding: 5%;
}
.selection-country a {
  display: block;
  text-decoration: none;
}
